<!DOCTYPE html>
{% load static%}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     <header class="masthead mb-auto">
        <div class="inner">
          <a href="{% url 'index' %}"><h3 class="masthead-brand">E - Shop</h3></a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'index' %}">Home</a>
            <a class="nav-link active" href="{% url 'product_add' %}">Add New</a>
            {% block menu %}{% endblock %}
          </nav>
        </div>
     </header>
<div class="container">
    {% block content %}{% endblock %}
</div>
</div>
</body>
</html>

