{% extends 'base.html' %}

{% block title %}
Product update
{% endblock %}

{% block content %}
      <main role="main" class="inner cover">
        <p class="lead">
            <form action="{% url 'product_update' product.pk %}" method="POST">
                <div class="form">
                    {% include 'partial/product_form.html' with button_text='Edit' %}
                </div>
            </form>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>

{% endblock %}
